.footer {
  /* background-image: linear-gradient(to bottom, white, #245539); */
  background-color: #245539;
  padding: 20px 40px;
  color:white;
  margin: auto 0 0;
  width: 99.38vw;
  margin-left: calc(-1 * (100vw - 100%) / 2);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border-top: none !important; /* Ensure there's no border /
  box-shadow: none !important;  / Ensure there's no shadow */
}

.footer-container {
  display: flex;
  background-color: #245539;
  align-items: center;
  color:white;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-txt {
  font-size: 20px;
  color:white;
  padding-top: 25px;
  margin-left: 0;
  text-align: left;
}

.footer-logo {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer-logo:hover {
  transform: scale(1.05);
  /* color:white; */
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  color: white;
}

.footer-nav li {
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 25px;
}

.footer-nav li:hover {
  /* color: #245539; */
  font-weight: 400;
  background-color: #245539;
  color: white;
}

.footerText {
  display: inline;
  justify-content: center;
  margin-left: 30%;
}

.footerText > h3 {
  font-size: 35px;
  color: white;
}

.footerText > h6 {
  font-size: 20px;
  color: #245539;
}

.footerText > h3, .footerText > h6 {
  padding: 0;
  margin: 0;
}
.footer-link{
  color:white;
}
.footer-nav > .footer-link{
  text-decoration-line: none;
}
