.resources-container {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .resources-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .resource-card {
    width: 45%; 
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .resource-card:hover {
    transform: translateY(-5px);
  }
  
  .resource-card h2 {
    font-size: 22px;
    color: balck;
    margin-bottom: 10px;
  }
  
  .resource-card p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .resource-card button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
  }
  
  .resource-card button:hover {
    background-color: #005bb5;
  }
  